* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

header .logo strong {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

header ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: black;
}

fieldset {
    padding: 5px;
    margin: 0 5px;
}

fieldset legend {
    font-size: 20px;
}

.banner {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 30px;
}

.banner h1 {
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.banner p {
    color: white;
}

.banner .bikes-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style-type: none;
    margin-top: 25px;
}